.header {
  border-bottom: 1px solid #DDD;
  padding: 20px;
}

.header div[class*="col"] {
  display: flex;
  align-items: center;
}

.searchInput div {
  position: relative;
  width: 100%;
}

.searchBox {
  border-radius: 3px;
  border: 1px solid #CBCBCB;
  padding: 10px;
  font-size: 13pt;
  outline: none;
  width: 100%;
  transition: all 0.5s;
}

.searchBox:focus {
  border: 1px solid #FF4C00;
}

.searchBtn {
  position: absolute;
  right: 0px;
  padding: 10px 20px;
  border-radius: 0px 4px 4px 0px;
  background: #FF4C00;
  border: 0px;
  outline: none;
  cursor: pointer;
  height: 100%;
}

.searchBtn i {
  color: white;
}

.iconsMenu a {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: 900;
  color: #333333;
  font-size: 10pt;
}

.iconsMenu {
  position: initial;
}

.iconsMenu i {
  color: #444;
}

.iconsMenu button {
  background: transparent;
  border: 0px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.iconsMenu ul {
  position: absolute;
  left: 50%;
  width: 1200px;
  top: 100px;
  transform: translate(-50%,0);
  columns: 3;
  z-index: 9;
  padding: 0px 20px;
  background: white;
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.iconsMenu ul li {
  margin-bottom: 5px;
}

.iconsMenu ul li span {
  text-transform: uppercase;
  font-weight: bold;
  color: #AAA;
  font-size: 10pt;
  padding: 5px 10px;
  display: block;
  border-bottom: 1px solid #EEE;
}

.iconsMenu ul a {
  display: block;
  border-radius: 5px;
  transition: background 0.5s;
}

.iconsMenu ul a:hover {
  background: #DDD;
}

.submenuActive {
  max-height: 100vh!important;
  overflow: auto!important;
  opacity: 1!important;
  top: 100px!important;
  padding: 20px!important;
}

.productBtn i {
  margin-left: 10px;
  color: #444;
}

.allProducts a {
  display: block;
  background: #FF4C00!important;
  color: white!important;
  border-radius: 5px;
  transition: background 0.5s;
}

.allProducts a:hover {
  background: #ff6a2a!important;
}

.allProducts i {
  margin-left: 10px;
  color: white;
}