.productDetails h1 {
  color: #FF4C00;
}

.productDetails p.subtitle {
  font-size: 13pt;
  font-weight: 700;
}

.productDetails p:not(.subtitle) {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
}

.price {
  margin-top: 20px;
}

.price span {
  display: block;
  font-size: 10pt;
}

.price h2 {
  margin: 0px;
  display: inline-block;
  color: #FF4C00;
  font-size: 40pt;
}

.price sub {
  font-weight: bold;
}

.send {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 10px 0px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.send i {
  padding: 5px 20px;
  font-size: 15pt;
  color: #999;
}

.send p.subtitle {
  margin: 0px;
  padding: 0px;
}

.send span {
  font-size: 8pt;
  line-height: 100%;
}

.btnBuy {
  margin-top: 20px;
  padding: 15px 50px;
  background: #3179E3;
  border: 0px;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 10pt;
}

span.obs {
  font-size: 8pt;
  display: block;
  padding: 5px 0px;
}

.details div[class*="col"] {
  display: flex;
  align-items: center;
  color: #777;
}

.hr {
  display: block;
  text-align: center;
  position: relative;
  margin-top: 40px;
}

.hr:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #DDD;
  z-index: -1;
}

.hr span {
  position: relative;
  background: white;
  padding: 0px 20px;
}

.banner {
  background: #EEE;
  text-align: center;
  padding: 40px 15px;
}

.banner h2 {
  margin: 0px;
  padding: 0px;
  color: #666;
}